@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background-color: #fbf5ee;
}

/*.slick-next:before, .slick-prev:before {*/
/*  color: #fff !important;*/
/*  font-size: 20px !important;*/
/*  line-height: 1 !important;*/
/*  opacity: .75 !important;*/
/*}*/
